/* Paso 0: Diseño para móviles */

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

body{
    display: flex;
    height: 1000px;
    width: 1000px;
    margin: 0;
    align-content: center;
    align-items: center;
    background-image:url(/IMG/Madera.jpg);
}


/* Parte 1: Carcasa */

.carcasa{
    display: flex;
    height: 800px;
    width: 500px;
    background: #0a8b64;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border: black solid 2px;
    margin: auto;
    flex-direction: column;
}


/* Parte 2: Pantalla */

.marcopantalla{
    width: 450px;
    height: 380px;
    background-color: black;
    display: flex;
    margin: 40px 25px 20px 25px;
    border: #0b4f34 solid 3px;
    color: #0b4f34;
    border-radius: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boton {
    height: 40px;
    width: 10px;
    position: absolute;
    background-color: rgb(44, 42, 42);
    border:black solid 1px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    top:200px;
    left: 750px;
    padding: 1px 1px 1px 1px;
}

#boton:active{
    transform: translateY(-2px);
    background-color: #666;
}

.pantalla{
    height: 300px;
    width: 320px;
    background: rgb(44, 42, 42);
    margin: 30px 60px 10px 60px;
    border-radius: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#video {
    display: none;
    background-color: rgb(9, 9, 9);
    height: 300px;
    width: 340px;
}

/* Parte 3: Encendido de LED con Botón */

.led::before {
    display: none;
    content:"";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(222, 45, 13);
    position: absolute;
    top: 240px;
    left: 290px;
}

.led_on::before {
    content:"";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background:rgb(222, 45, 13);
    box-shadow: 0px 0px 10px 2px rgb(252, 139, 120);
    position: absolute;
    top: 220px;
    left: 290px;
}

.led::after {
    content: "POWER";
    color: grey;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 240px;
    left: 282px;
}

.led_on::after {
    content: "POWER";
    color: grey;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 240px;
    left: 282px;
}

/* Parte 4: Letras GameBoy y Logo */

.formacolor{ 
    letter-spacing: -6px;
    font-size: 2em;
    font-weight: bold;
    font-family: ComicSansMS;
} 

.gameboy{
    font-size: 2em;
    color: grey;
    font-style: italic;
    font-weight: bold;
}

.c{
    color: #810d2c; 
}

.o{
    color: #393981; 
}

.l{
    color: #469c27;
}

.o2{
    color: #a6a02d;
}

.r{
    color:#11969b;
}

.logo{
    width: 118px;
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-family:pretendoregular;
    border: #0b4f34 solid 3px;
    border-radius: 20px;
    color: #0b4f34;
    margin: 0px 0px 0px 40%;
    top: 100px;
}


/*Parte 5: Cruceta*/

.centro{
    height: 200px;
    width: 500px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

#Barriba{
    position: absolute;
    display: flex;
    font-size: 2.4em;
    background-color: #313131;
    height: 40px;
    width: 40px;
    top: 602px;
    left: 355px;
    color: rgb(31, 31, 31);
    border:1px solid rgba(0,0,0,.3);
    border-bottom: none;
	border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 1px 2px rgba(23, 23, 23, 0.3);
}

#Barriba:active{
    transform: translateY(2px);
    background-color: #666;
}

#arriba{
    transform: translateY(2px);
    margin: auto;
    position:relative;
    top: -6px;
    right: 5px;
}
    
#Babajo {
    position: absolute;
    display: flex;
    font-size: 2.4em;
    background-color: #313131;
    height: 40px;
    width: 40px;
    top: 676px;
    left: 356px;
    color: rgb(31, 31, 31);
    border:1px solid rgba(0,0,0,.3);
	border-top: none;
    border-radius: 0px 4px 4px 4px;
    box-shadow: 0px 0px 1px 2px rgba(23, 23, 23, 0.3);
}

#Babajo:active{
    transform: translateY(2px);
    background-color: #666
}

#abajo{
    transform: translateY(2px);
    margin: auto;
    position:relative;
    top: -2px;
    left: -6px;
}

#Bderecha {
    position: absolute;
    display: flex;
    font-size: 2.4em;
    background-color: #313131;
    height: 40px;
    width: 40px;
    top: 640px;
    left: 394px;
    color: rgb(31, 31, 31);
    border:1px solid rgba(0,0,0,.3);
	border-left: none;
	border-radius: 4px 4px 4px 0px;
    box-shadow: 2px 0px 1px 1px rgba(23, 23, 23, 0.3);
}

#Bderecha:active{
    transform: translateX(2px);
    background-color: #666;
}

#derecha{
margin: auto;
position:relative;
top: -4px;
left: -4px
}

#Bizquierda {
    position: absolute;
    display: flex;
    font-size: 2.3em;
    background-color: #313131;
    height: 40px;
    width: 40px;
    top: 640px;
    left: 316px;
    color: rgb(31, 31, 31);
    border:1px solid rgba(0,0,0,.3);
	border-right: none;
    border-radius: 4px 0px 0px 4px;
    box-shadow: -2px 0px 1px 1px rgba(23, 23, 23, 0.3);
}

#Bizquierda:active{
    transform: translateX(-2px);
    background-color: #666
}

#izquierda{
    transform: translateX(-2px);
    margin: auto;
    position:relative;
    top: -2px;
    left: 2px;
}

#centro {
    position: absolute;
    display: flex;
    font-size: 2.6em;
    background-color: #313131;
    height: 40px;
    width: 42px;
    top: 640px;
    left: 354px;
    color: rgb(31, 31, 31);
}

#centro p{
margin: auto;
position:relative;
top: -6px;
}


/*Parte 6: Botones A y B */

.botones {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 600px;
    left: 520px;
}

#a {
    position: absolute;
    left: 130px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: black solid 1px;
    background: #313131;
    box-shadow: 0px 0px 3px 3px rgba(23, 23, 23, 0.3);
}

#a:active{
    transform: translateY(3px);
    background-color: #666
}

#b {
    position: absolute;
    top: 40px;
    left: 50px;
    height: 60px;
    width: 60px;
    border: black solid 1px;
    border-radius: 50%;
    background: #313131;
    box-shadow: 0px 0px 3px 3px rgba(23, 23, 23, 0.3);
}

#b:active{
    transform: translateY(3px);
    background-color: #666
}

#a p, #b p {
    font-size: 2em;
    font-family:'Trebuchet MS', sans-serif ;
    color: rgb(31, 31, 31);
    position: relative;
    top: -21px;
    left: 21px;
    text-shadow: -1px -1px 0px rgba(61, 61, 61, 0.7);
}


/* Parte 7: Botones Select y Start */

.inferior {
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#select {
    margin: 0 5px 0 0;
    height: 18px;
    width: 60px;
    border-radius: 30px;
    border: black solid 1px;
    background: #313131;
    box-shadow: 0px 0px 3px 3px rgba(23, 23, 23, 0.3);
}

#select:active{
    transform: translateY(2px);
    background-color: #666
}

#start {
    margin: 0 0 0 10px;
    height: 18px;
    width: 60px;
    border-radius: 30px;
    border: black solid 1px;
    background: #313131;
    box-shadow: 0px 0px 3px 3px rgba(23, 23, 23, 0.3);
}

#start:active{
    transform: translateY(2px);
    background-color: #666
}

#select, #start {
    font-size: 1.1em;
    font-family:'Trebuchet MS', sans-serif ;
    margin-top: 40px;
    color: #0b4f34;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


/*Parte 8: Altavoz*/

#altavoz {
    font-size: 1.2em ;
    font-weight: bold;
    line-height: 11px;
    color: #053522;
    text-shadow: 1px 1px 0px #01100a;
    position: absolute;
    top: 750px;
    left: 640px;
    height: 100px;
    width: 60px; 
}


/*Extras: fuentes añadidas*/

@font-face {
    font-family: 'pretendoregular';
    src: url(../fonts/pretendo.woff2) format('woff2'),
         url(../fonts/pretendo.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComicSansMS';
    src: url(../fonts/ComicSansMS.woff2) format('woff2'),
         url(../fonts/ComicSansMS.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

